.articles{
    column-count: 2;
    margin:20px;
}

.articles > article{
    margin: 10px;
}

.form{
    margin: 20px;
    padding: 20px;
    width: 500px;
    border-radius: 20px;
    border: 2px solid rebeccapurple;
}

.input{
    margin: 10px;
}

.input_element{
    width: 200px;
    border: 1px solid black;
    border-radius: 5px;
}

select{
    padding: 2px;
    width: 206.5px;
    border: 1px solid rebeccapurple;
    border-radius: 5px;
}

.input_element:hover{
    border: 1px solid rebeccapurple;
    border-radius: 5px;
}


@media (max-width: 600px) {
    .articles{
        column-count: 1;
    }
    .articles > article{
        margin:10px;
    }
}